<h4 style="text-align: center;">Sistema para productos</h4>
<hr>
<button class="btn btn-success">Agregar producto nuevo</button>
<br>
<h4>Los productos actuales son los siguientes</h4>
<div class="container">
  <div class="row">
    <div class="col">
      <div>
        Ordenar por:
        <select (change)="orderBy($event)">
          <option [value]="p" *ngFor="let p of propertys">{{p}}</option>
        </select>
      </div>
    </div>

    <!-- ordenamiento -->
    <div class="col">
      <input type="text" name="" id="" (change)="search($event)" placeholder="buscar" (change)="search($event)">
      <select name="" id="" (change)="setTypeSearch($event)">
        <option value="title">Por nombre</option>
        <option value="price">Por precio</option>
      </select>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>



<!--tabla de productos -->

<!-- encabezados -->
<table class="table table-hover border">
  <thead>
    <tr>
      <th scope="col" *ngFor="let item of propertys; let i = index">{{item}}</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let prod of pIterables; let idx = index">
      <td>{{prod.id}}</td>
      <td>{{prod.title | slice:0:10 }}</td>
      <td>{{prod.description | slice:0:60 }}</td>
      <td>{{prod.price}}</td>
      <td> {{prod.discountPercentage}} </td>
      <td> {{prod.rating}} </td>
      <td> {{prod.stock}} </td>
      <td> {{prod.brand | slice:0:10}} </td>
      <td> {{prod.category}} </td>
      <td>
        <img [src]="prod.thumbnail" style="width: 100px;">
      </td>
      <a [href]="prod.images[0]"> Ver </a>
      <td>
        <button class="btn btn-outline-success" style="width: 50%;" (click)="setShowModifier(prod)">Editar</button>
        <button class="btn btn-outline-danger" style="width: 50%;">X</button>
      </td>
      <app-product *ngIf="prodMod == prod.id && showModifier" [fields]="propertys" [product]="prod" [name]="prod.title" (cancel)="closeModifier()" />
    </tr>
  </tbody>
</table>