<div style="position: fixed; top: 0%;  left: 0%;   background-color: rgba(0, 0, 0,.2); width: 100vw; height: 100vh; display: flex; justify-content: center;">
    <div class="border rounded" style="background-color: white; ">
        <div>
            <div class="container">

                <h6>Modificación de producto: <i>{{name}}</i> </h6>
                <hr>

                <div *ngFor="let field of fields">
                    <div  style="width: 50%; float: left;">
                        <div class="mb-3 border rounded ">
                            <label [for]="field" class="my-1" style="display:flex; justify-content: center;"> 
                                <h6 style="text-align: center;">{{field.split('')[0].toUpperCase()}}{{field.substr(1, field.length)}} </h6> 
                            </label>
                            <input *ngIf="field != 'thumbnail' && field != 'images'" type="email" class="form-control"
                                [id]="field" [placeholder]="product[field]" [value]="product[field]"
                                style="text-align: center;" (change)="setValueFromInput( field, $event )">

                            <div *ngIf="field == 'thumbnail'" class="border rounded">
                                <img [src]="product[field]" alt="" style="width: 4%;">
                            </div>

                            <div *ngIf="field == 'images'" class="border rounded col">
                                <img *ngFor="let image of product[field]" [src]="image" [alt]="image"
                                    style="width: 10%;">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" >
            <div class="row" style="width: 100%;">
                <hr class="col">
                <button class="btn btn-outline-primary col my-3" (click)="saveChanges()" >Guardar</button>
                <button class="btn btn-outline-secondary col my-3" (click)="cancelModify()">Cancelar</button>
                <hr class="col">
            </div>
        </div>
    </div>
</div>