<form (ngSubmit)="tryLogin()">
    <div class="container ">
      <div class="row d-flex ">
        <div class="col "></div>
        <div class="col border my-4"  style="box-shadow: 2px 2px 5px 0px rgb(105, 103, 103);">
  
  
          <div class="mb-3 ">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="user" name="user">
            <div id="emailHelp" class="form-text"></div>
          </div>
          
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="pass" name="pass">
          </div>
          <div class="mb-3 form-check">
            
            
          </div>
          <button type="submit" class="btn btn-primary" >Enviar</button>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </form>
  
 